@page
@model WeixinSiteSample.Pages.AccessTokenModel
@{
    ViewData["Title"] = "Access Token";
}

<div class="text-center">
    <h1 class="display-4">Access Token</h1>
    <p>@Model.Token</p>
</div>
