@model Demo.Models.Home.IndexViewModel
@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<div class="mx-auto">
		<div class="card shadow mt-3 mb-3 ml-3 mr-3" style="min-width:180px;max-width:480px;">
			<img class="card-img-top" src="~/img/mp-test.jpg" />
			<div class="card-title text-center">请用微信扫描二维码关注测试公众号</div>
		</div>

		<div class="text-center">
			<a class="btn btn-primary" asp-action="Subscribers">Subscribers <span class="badge badge-light">@Model.SubscriberCount</span></a>
			<a class="btn btn-success" asp-action="ReceivedText">Received Text <span class="badge badge-light">@Model.ReceivedTextCount</span></a>
		</div>
	</div>
</div>

<div class="row" style="height:58px;">&nbsp;</div>
<div class="fixed-bottom bg-light">
	<hr />
	<footer>
		<p>&copy; 2016-2019 - AspNetCore.Weixin</p>
	</footer>
</div>