
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <img src="~/img/mp-test.jpg" height="200" />
    <div class="help-block">请用微信扫描二维码关注测试公众号</div>

    <a class="btn btn-primary" asp-action="Subscribers">Subscribers</a>
    <a class="btn btn-default" asp-action="SendWeixin">Send Message</a>
    <a class="btn btn-success" asp-action="ReceivedText">Received Text</a>
</div>
