@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SendWeixinArticle", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <dl>
        <dt>
            Title
        </dt>
        <dd>
            <input type="text" name="Title" />
        </dd>
        <dt>
            Content
        </dt>
        <dd>
            <input type="text" name="Content" />
        </dd>
    </dl>
    <input type="submit" value="Submit" />
}
