@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<footer class="border-top footer text-muted">
    <div class="container">Copyright &copy; @(DateTime.Now.Year) 广州市境迁咨询服务有限公司 <a href="http://beian.miit.gov.cn/"
            target="_blank" rel="nofollow" class="text-muted">粤ICP备17119791号</a> <a asp-area="" asp-controller="Home" asp-action="About">About</a> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
</footer>