@model SendTextViewModel
@{
    ViewData["Title"] = "Customer Service";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("SendText", "CustomerService", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>@ViewData["Token"]</p>
    <input type="text" asp-for="OpenId" />
    <input type="text" asp-for="Content" />
    <input type="submit" />
}

